version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: nutrition-calculator-api:latest
    container_name: nutrition-calculator-api
    ports:
      - "8080:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      # - ADMIN_EMAIL=${ADMIN_EMAIL}
      # - ADMIN_PASSWORD=${ADMIN_PASSWORD}
